.layout {
  width: 320px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 30px;
  align-self: flex-end;
}

.toolbar svg {
  width: 14px;
  height: 14px;
  color: var(--main-color);
  margin-right: 14px;
}

.notifications {
  display: flex;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #623ce8;
  color: #fff;
  justify-content: center;
}

.content {
  flex: 1;
  padding: 10px 40px;
  overflow-y: auto;
}
